*.o
*.so
*.la
*.a
*.gmo
*.lo
*.5
*.8
.dirstamp
.DS_Store
Makefile
config.status
config.log
.deps/
.libs/
libtool
autom4te.cache/*
dhcpcd
dhcpcd-run-hooks
dhcpcd-embedded.c
dhcpcd-embedded.h
config.h
config.mk
.pc/

