Package: dhcpcd5
Version: 6.9.4-1+rpi1
Architecture: armhf
Maintainer: Serge Schneider <serge@raspberrypi.org>
Installed-Size: 273
Depends: libc6 (>= 2.17), init-system-helpers (>= 1.18~)
Recommends: openresolv | resolvconf
Suggests: dhcpcd-gtk
Conflicts: dhcpcd (<< 3.2.3-6), dhcpcd-sv
Provides: dhcp-client
Section: net
Priority: optional
Homepage: http://roy.marples.name/projects/dhcpcd
Description: DHCPv4, IPv6RA and DHCPv6 client with IPv4LL support
 dhcpcd is a one stop network management daemon which includes
  * RFC compliant DHCPv4 and DHCPv6 clients
  * DHCPv6 Prefix Delegation support
  * IPv4LL (aka ZeroConf) support
  * ARP address conflict resolution
  * Link carrier detection
  * Wireless SSID profiles
  * ARP ping profiles
